/* User: SPCTRE - manga, preset: dataimagelinkbefore */
/* Generated: 2026-01-28T09:21:13Z */
.data.image a[href^="/manga/130216/"]:before{background-image:url(https://cdn.myanimelist.net/images/manga/1/239408l.jpg)}
.data.image a[href^="/manga/656/"]:before{background-image:url(https://cdn.myanimelist.net/images/manga/1/259070l.jpg)}
.data.image a[href^="/manga/73603/"]:before{background-image:url(https://cdn.myanimelist.net/images/manga/1/142175l.jpg)}
.data.image a[href^="/manga/81117/"]:before{background-image:url(https://cdn.myanimelist.net/images/manga/3/145997l.jpg)}
.data.image a[href^="/manga/104565/"]:before{background-image:url(https://cdn.myanimelist.net/images/manga/3/196272l.jpg)}
.data.image a[href^="/manga/149013/"]:before{background-image:url(https://cdn.myanimelist.net/images/manga/1/265183l.jpg)}
.data.image a[href^="/manga/2/"]:before{background-image:url(https://cdn.myanimelist.net/images/manga/1/157897l.jpg)}
.data.image a[href^="/manga/146742/"]:before{background-image:url(https://cdn.myanimelist.net/images/manga/1/260085l.jpg)}
.data.image a[href^="/manga/149983/"]:before{background-image:url(https://cdn.myanimelist.net/images/manga/3/271291l.jpg)}
.data.image a[href^="/manga/98720/"]:before{background-image:url(https://cdn.myanimelist.net/images/manga/1/183163l.jpg)}
.data.image a[href^="/manga/6978/"]:before{background-image:url(https://cdn.myanimelist.net/images/manga/5/155231l.jpg)}
.data.image a[href^="/manga/100035/"]:before{background-image:url(https://cdn.myanimelist.net/images/manga/3/190005l.jpg)}
.data.image a[href^="/manga/121496/"]:before{background-image:url(https://cdn.myanimelist.net/images/manga/3/222295l.jpg)}
.data.image a[href^="/manga/126699/"]:before{background-image:url(https://cdn.myanimelist.net/images/manga/2/232167l.jpg)}
.data.image a[href^="/manga/132214/"]:before{background-image:url(https://cdn.myanimelist.net/images/manga/2/238873l.jpg)}
.data.image a[href^="/manga/130029/"]:before{background-image:url(https://cdn.myanimelist.net/images/manga/3/234828l.jpg)}
.data.image a[href^="/manga/147217/"]:before{background-image:url(https://cdn.myanimelist.net/images/manga/3/260852l.jpg)}
.data.image a[href^="/manga/147311/"]:before{background-image:url(https://cdn.myanimelist.net/images/manga/1/261217l.jpg)}
